body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.titulo {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.titulo h1 {
    color: #333;
    font-size: 32px;
    margin: 0;
}

.main {
    padding: 20px;
}

.discord {
    text-align: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.image-container img {
    width: 50%;
    height: auto;
}

.discord a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: blue;
}
